<?xml version="1.0"?>
<config>
    <modules>
        <SH_Telesign>
            <version>0.1.2</version>
        </SH_Telesign>
    </modules>
    <frontend>
        <routers>
            <sh_telesign>
                <use>standard</use>
                <args>
                    <module>SH_Telesign</module>
                    <frontName>sh_telesign</frontName>
                </args>
            </sh_telesign>
            <design>
                <package>
                    <name>rwd</name>
                </package>
                <theme>
                    <default>sh_telesign</default>
                </theme>
            </design>
            <customer>
                <args>
                    <modules>
                        <sh_telesign before="-">SH_Telesign</sh_telesign>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>
        <models>
            <sh_telesign>
                <class>SH_Telesign_Model</class>
                <resourceModel>sh_telesign_resource</resourceModel>
            </sh_telesign>
            <sh_telesign_resource>
                <class>SH_Telesign_Model_Resource</class>
                <entities>
                    <sh_telesign_telephone_base>
                        <table>sh_telesign_telephone_base</table>
                    </sh_telesign_telephone_base>
                    <sh_telesign_transactions>
                        <table>sh_telesign_transactions</table>
                    </sh_telesign_transactions>
                    <sh_telesign_risk>
                        <table>sh_telesign_risk</table>
                    </sh_telesign_risk>
                </entities>
            </sh_telesign_resource>
            <core>
                <rewrite>
                    <layout>SH_Telesign_Model_Core_Layout</layout>
                </rewrite>
            </core>
        </models>
        <blocks>
            <sh_telesign>
                <class>SH_Telesign_Block</class>
            </sh_telesign>
        </blocks>
        <helpers>
            <sh_telesign>
                <class>SH_Telesign_Helper</class>
            </sh_telesign>
            <sh_customer>
                <class>SH_Telesign_Helper_Customer</class>
            </sh_customer>
            <sh_messages>
                <class>SH_Telesign_Helper_Messages</class>
            </sh_messages>
            <sh_verify>
                <class>SH_Telesign_Helper_Verify</class>
            </sh_verify>
            <api_settings>
                <class>SH_Telesign_Helper_Api_Settings</class>
            </api_settings>
            <api_languages>
                <class>SH_Telesign_Helper_Api_Languages</class>
            </api_languages>
            <admin>
                <class>SH_Telesign_Helper_Admin_Data</class>
            </admin>
        </helpers>
        <resources>
            <sh_telesign_setup>
                <setup>
                    <module>SH_Telesign</module>
                </setup>
            </sh_telesign_setup>
        </resources>
        <events>
            <customer_register_success>
                <observers>
                    <sh_telesign>
                        <type>singleton</type>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>enableTelesignVerificationAfterRegister</method>
                    </sh_telesign>
                </observers>
            </customer_register_success>
            <controller_action_predispatch>
                <observers>
                    <sh_telesign>
                        <type>singleton</type>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>hookToControllerActionPreDispatch</method>
                    </sh_telesign>
                </observers>
            </controller_action_predispatch>
            <check_telesign_confirmation_before_login>
                <observers>
                    <sh_telesign>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>checkTelesignConfirmationBeforeLogin</method>
                    </sh_telesign>
                </observers>
            </check_telesign_confirmation_before_login>
            <customer_login>
                <observers>
                    <sh_telesign>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>checkTelesignConfirmationBeforeLogin</method>
                    </sh_telesign>
                </observers>
            </customer_login>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <sh_telesign>
                    <files>
                        <default>SH_Telesign.csv</default>
                    </files>
                </sh_telesign>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SH_Telesign before="Mage_Adminhtml">SH_Telesign_Adminhtml</SH_Telesign>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <sh_telesign_api>
            <sms_settings>
                <use_default_message>1</use_default_message>
            </sms_settings>
            <call_settings>
                <use_default_tts_message>1</use_default_tts_message>
            </call_settings>
        </sh_telesign_api>
        <sh_telesign_admin_settgins>
            <general>
                <enable_data_grids>1</enable_data_grids>
                <enable_telephone_base_data_grid>1</enable_telephone_base_data_grid>
            </general>
        </sh_telesign_admin_settgins>
    </default>
</config>