<?xml version="1.0"?>
<config>
    <modules>
        <SH_Telesign>
            <version>0.1.2</version>
        </SH_Telesign>
    </modules>
    <frontend>
        <routers>
            <sh_telesign>
                <use>standard</use>
                <args>
                    <module>SH_Telesign</module>
                    <frontName>sh_telesign</frontName>
                </args>
            </sh_telesign>
            <design>
                <package>
                    <name>rwd</name>
                </package>
                <theme>
                    <default>sh_telesign</default>
                </theme>
            </design>
        </routers>
    </frontend>
    <global>
        <models>
            <sh_telesign>
                <class>SH_Telesign_Model</class>
                <resourceModel>sh_telesign_resource</resourceModel>
            </sh_telesign>
            <sh_telesign_resource>
                <class>SH_Telesign_Model_Resource</class>
                <entities>
                    <sh_telesign_telephone_base>
                        <table>sh_telesign_telephone_base</table>
                    </sh_telesign_telephone_base>
                    <sh_telesign_transactions>
                        <table>sh_telesign_transactions</table>
                    </sh_telesign_transactions>
                    <sh_telesign_risk>
                        <table>sh_telesign_risk</table>
                    </sh_telesign_risk>
                </entities>
            </sh_telesign_resource>
        </models>
        <blocks>
            <sh_telesign>
                <class>SH_Telesign_Block</class>
            </sh_telesign>
        </blocks>
        <helpers>
            <sh_telesign>
                <class>SH_Telesign_Helper</class>
            </sh_telesign>
            <sh_customer>
                <class>SH_Telesign_Helper_Customer</class>
            </sh_customer>
        </helpers>
        <resources>
            <sh_telesign_setup>
                <setup>
                    <module>SH_Telesign</module>
                </setup>
            </sh_telesign_setup>
        </resources>
        <events>
            <customer_register_success>
                <observers>
                    <sh_telesign>
                        <type>singleton</type>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>sendCustomerNotificationViaTelesignAfterRegister</method>
                    </sh_telesign>
                </observers>
            </customer_register_success>
            <controller_action_predispatch>
                <observers>
                    <sh_telesign>
                        <type>singleton</type>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>hookToControllerActionPreDispatch</method>
                    </sh_telesign>
                </observers>
            </controller_action_predispatch>
            <check_telesign_confirmation_before_login>
                <observers>
                    <sh_telesign>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>checkTelesignConfirmationBeforeLogin</method>
                    </sh_telesign>
                </observers>
            </check_telesign_confirmation_before_login>
            <customer_login>
                <observers>
                    <sh_telesign>
                        <class>SH_Telesign_Model_Customer_Observer</class>
                        <method>checkTelesignConfirmationBeforeLogin</method>
                    </sh_telesign>
                </observers>
            </customer_login>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <sh_telesign>
                    <files>
                        <default>SH_Telesign.csv</default>
                    </files>
                </sh_telesign>
            </modules>
        </translate>
    </adminhtml>
</config>