<?xml version="1.0"?>
<config>
    <modules>
        <SH_Telesign>
            <version>0.1.1</version>
        </SH_Telesign>
    </modules>
    <global>
        <models>
            <sh_telesign>
                <class>SH_Telesign_Model</class>
                <resourceModel>sh_telesign_resource</resourceModel>
            </sh_telesign>
            <sh_telesign_resource>
                <class>SH_Telesign_Model_Resource</class>
            </sh_telesign_resource>
        </models>
        <blocks>
            <sh_telesign>
                <class>SH_Telesign_Block</class>
            </sh_telesign>
        </blocks>
        <helpers>
            <sh_telesign>
                <class>SH_Telesign_Helper</class>
            </sh_telesign>
        </helpers>
        <resources>
            <sh_telesign_setup>
                <setup>
                    <module>SH_Telesign</module>
                </setup>
            </sh_telesign_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <SH_Tireon>
                    <files>
                        <default>SH_Telesign.csv</default>
                    </files>
                </SH_Tireon>
            </modules>
        </translate>
    </adminhtml>
</config>